@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.App {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(130deg, rgb(33, 150, 243), rgb(103, 214, 205));
    box-shadow: rgb(33 150 243 / 68%) 0px 0px 1rem 2px;
    border-radius: 10px;
    margin-top: 3%;
    padding-bottom: 5%;
    padding: 2% 5%;
}

.header {
    padding: 2% 0;
    font-size: 1.2rem;
    color: #fff;
}

.header h2 {
    text-transform: uppercase;
    font-weight: 800;
}

.form-add-money input[type="number"],
.form-add-money input[type="submit"],
.add-subscription form select,
.add-subscription input[type="number"],
.add-subscription input[type="submit"] {
    font-size: inherit;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.form-add-money input[type="submit"],
.add-subscription input[type="submit"] {
    display: block;
    margin: 1.5rem auto 0;
    width: 100%;
    max-width: 230px;
    cursor: pointer;
    background-color: #060708;
    color: #fff;
    transition: background-color 0.7s;
    font-weight: 600;
}

.form-add-money input[type="submit"]:hover,
.add-subscription input[type="submit"]:hover {
    background-color: #fff;
    color: #060708;
}

.form-add-money p,
.add-subscription form p {
    color: #fff;
    font-weight: 500;
}

p.error {
    color: #fff;
    background-color: #d52121;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    font-weight: 400;
}

.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 6%;
}

@media(min-width: 768px) {
    .main-form {
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
    }
}

.balance {
    text-align: left;
    background-color: rgba(250, 250, 250, 0.68);
    border-radius: 13px 47px;
    padding: 1rem;
    display: grid;
    place-content: center;
}

.add-subscription h3 {
    margin-top: 0;
}

.add-subscription form select,
.add-subscription input[type="number"] {
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 2% 4%;
    border-radius: 10px;
    padding: 1rem;
}

@media(min-width: 768px) {
    .single-item {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }
}

.single-item a {
    text-decoration: none;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #000;
    margin-top: 0.5rem;
}

.single-item a.delete:hover {
    background-color: rgba(255, 2, 2, 0.51);
}

.single-item a.edit:hover {
    background-color: rgba(36, 153, 241, 0.55);
}

.single-item img {
    width: 100%;
    max-width: 155px;
    height: auto;
}

p.author {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 0.5rem;
    color: #000;
}

p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}